
body {
  margin: 0 auto;
  box-sizing: border-box;
}

.hero-section {
  background-image: url("./assets/hero-dark-leaves.jpg");
  background-size: cover;
  background-position: 3% 50%;
  position: relative;
  margin: 0;
  width: 100%;
  height: 75vh;
}

.icons-top-wrapper {
  display: flex;
  position: absolute;
  top: 105px;
  right: 40px;
}

.icon-top {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: relative;
  margin-left: 6px;
}

.header-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 11px;
}

.header-text {
  color: #fff;
  margin: 0;
  padding: 170px 40px 0 40px;
  display: flex;
  flex-direction: column;
}

.header-name {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.header-name span {
  font-weight: 400;
  margin-left: 8px;
}

.header-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: lowercase;
  margin: 0 0 8px 0;
}

.header-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: lowercase;
  margin: 0;
}

.profilepic {
  width: 160px;
  position: absolute;
  bottom: -20px;
  right: 40px;
  border-radius: 50%;
  border: solid 3px #fff;
  z-index: 999;
}

.summary-section {
  height: 342px;
  background-color: #F4F4F4;
  margin-top: -20px;
  padding: 83px 37px 56px 37px;
  display: flex;
  position: relative;
  z-index: 0;
}

.summary-figures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 44px;
  height: 12px;
  margin: 0;
  position: absolute;
  top: 91px;
  left: 37px;
}

.circle {
  background: #FA382F;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.line {
  background: #FA382F;
  width: 32px;
  height: 3px;
  margin-bottom: 1px;
}

.summary-text {
  font-family: 'Montserrat', regular, sans-serif;
  font-size: 17px;
  line-height: 1.7;
  margin: 0;
  text-indent: 65px;
  display: inline-block;
  /* text-align: justify; */
}

.tech-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 63px 36px;
}

.tech-heading,
.project-heading {
  font-family: 'Montserrat', bold, sans-serif;
  color: #fff;
  text-transform: uppercase;
  /* background-color: #FA382F; */
  background-color: #1c3312;
  padding: 8px 10px;
  margin: 0 auto 36px auto;
}

.tech-text {
  font-size: 17px;
  font-family: 'Montserrat', regular, sans-serif;
  line-height: 1.7;
  color: #000;
  margin: 0;
}

.red {
  color: #FA382F;
}

.featured-projects {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 63px 36px;
}

.project-section {
  margin-bottom: 40px;
  text-decoration: none;
}

.project-photo {
  position: relative;
}

.project-photo img {
  height: 180px;
}

.project-overlay {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(32, 58, 143, 0.7);
  z-index: 2;
  cursor: pointer;
}

.project-subheading {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Montserrat', bold, sans-serif;
  text-align: center;
}
.project-photo,
.project-text-1 {
  border: solid 2px black;
}

@media(max-width:330px) {
  .header-text h1 {
    font-size: 34px;
  }
  .header-text h2 {
    font-size: 18px;
  }
}