
body {
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
}

h2 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: lowercase;
}

h3 {
  font-size: 22px;
  font-family: 'Montserrat', bold, sans-serif;
  text-transform: uppercase;
  padding: 6px 8px;
  margin: 0 auto 36px auto;
  letter-spacing: 1px;
}

h4 {
  font-size: 17px;
}

p, li {
  font-size: 16px;
  font-family: 'Montserrat', regular, sans-serif;
  line-height: 1.7;
}

li {
  font-weight: 400;
}

p {
  margin: 0;
}

.hero-section {
  background-image: url("./assets/hero-dark-leaves_1.jpg");
  background-size: cover;
  background-position: 3% 50%;
  position: relative;
  margin: 0;
  width: 100%;
  height: 75vh;
}

.hero-overlay {
  position: absolute;
  background: rgba(17, 42, 3, 0.4);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.icons-top-wrapper {
  display: flex;
  position: absolute;
  top: 75px;
  right: 36px;
  z-index: 3;
}

.icon-top {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: relative;
  margin-left: 6px;
}

.header-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 11px;
  z-index: 3;
}

.header-text {
  color: #fff;
  margin: 0;
  padding: 140px 36px 0 36px;
  display: flex;
  flex-direction: column;
}

.header-name {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.header-name span {
  font-weight: 500;
  margin-left: 8px;
}

.header-text h1 {
  margin: 0 0 8px 0;
}

.header-text h2 {
  margin: 0;
}

.profilepic {
  width: 160px;
  position: absolute;
  bottom: -20px;
  right: 36px;
  border-radius: 50%;
  border: solid 3px #fff;
  z-index: 999;
}

.summary-section {
  background-color: #F4F4F4;
  margin-top: -20px;
  padding: 83px 36px 63px 36px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.summary-content {
  position: relative;
}

.summary-figures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 44px;
  height: 12px;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 0;
}

.circle {
  background: #593528;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.line {
  background: #593528;
  width: 32px;
  height: 3px;
  margin-bottom: 1px;
}

.summary-text {
  text-indent: 65px;
  display: inline-block;
}

.tech-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 63px 36px;
}

.brown-tech {
  color: #724C36;
}

.tech-heading,
.project-heading,
.skills-heading,
.thoughts-heading {
  color: #fff;
  background-color: #1c3312;
}

.brown {
  color: #593528;
}

.featured-projects,
.other-projects {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 63px 36px 0 36px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
}

.other-projects,
.my-thoughts {
  background: #fff;
}

.project-section,
.other-project-section {
  text-decoration: none;
}

.project-photo {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 55px;
}

.project-photo img,
.project-overlay {
  border-radius: 14px;
}

.project-photo:nth-child(1) {
  margin-top: 0;
}

.project-photo img {
  width: 100%;
}

.project-overlay {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(73, 88, 103, 0.7);
  z-index: 2;
  cursor: pointer;
}

.project-subheading {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.project-text,
.other-project-section {
  color: #000;
  font-family: 'Roboto', regular, sans-serif;
  font-size: 17px;
  line-height: 1.7;
  margin: 15px 0 0 0;
}

.project-text p,
.other-project-section p {
  margin: 0 0 15px 0;
}

.brown-bold {
  color: #593528;
  font-weight: 700;
}

.project-labels {
  display: flex;
  flex-direction: row;
  margin-bottom: 63px;
}

.project-labels span {
  font-size: 16px;
  color: #fff;
  background-color: #835748;
  padding: 0 7px;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
}

.other-heading {
  font-family: 'Montserrat', bold, sans-serif;
  color: #1c3312;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 1px;
  margin: 0 auto 36px auto;
}

.other-project-section {
  align-self: center;
}

.other-project-section p {
  max-width: 60ch;
}

.other-pizza {
  display: none;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  padding: 63px 36px;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.skills-div {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.skills-subheading {
  margin: 0;
  font-family: 'Roboto', bold, sans-serif;
}

.list {
  padding: 0;
  list-style-type: none;
  font-family: 'Roboto', bold, sans-serif;
  font-weight: 300;
  line-height: 1.7;
  margin: 15px 0 20px 0;
}

.last-list {
  padding: 0;
  list-style-type: none;
  font-family: 'Roboto', bold, sans-serif;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 0;
  margin: 15px 0 0 0;
}

.my-thoughts {
  display: flex;
  justify-content: center;
  padding: 63px 36px;
  background-color: #b2c2a8;
}

.thoughts-wrapper {
  display: flex;
  flex-direction: column;
}

.thoughts-wrapper img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 15px;
}

.for-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 63px 36px;
}

.icons-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 30%;
  margin: 15px 5px;
}

.icons-bottom i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  color: #1c3312;
  border: 3px solid #1c3312;
  border-radius: 50%;
  height: 58px;
  width: 58px;
}

.icons-bottom p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #1c3312;
}

.skills-div li {
  margin-bottom: 5px;
}

footer {
  padding: 63px 36px;
  background: #1c3312;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.footer-heading {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto 36px auto;
}

footer p {
  color: #fff;
  font-size: 16px;
  margin: 0 0 20px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
}

@media(max-width:360px) {
  .hero-section {
    height: 65vh;
  }

  .icons-top-wrapper {
    top: 30px;
    right: 20px;
  }

  .header-text {
    padding: 85px 20px 0 20px;
  }

  .header-text h1 {
    font-size: 34px;
  }

  .header-text h2 {
    font-size: 18px;
  }

  .profilepic {
    width: 120px;
    bottom: -45px;
    right: 20px;
  }

  .tech-heading,
  .project-heading,
  .skills-heading,
  .other-heading,
  .thoughts-heading,
  .footer-heading {
    padding: 3px 5px;
  }

  .project-heading,
  .other-heading,
  .thoughts-heading {
    text-align: center;
    width: min-content;
  }

  .project-subheading {
    font-size: 16px;
  }

  .project-labels span {
    font-size: 14px;
  }
}

@media(min-width:768px) {
  .hero-section {
    height: 55vh;
  }

  .icon-top {
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }

  .header-icon {
    width: 24px;
    height: 24px;
    top: 13px;
    left: 13px;
  }

  .header-text {
    padding-top: 200px;
  }

  .header-name {
    font-size: 22px;
  }

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 28px;
  }

  .profilepic {
    width: 180px;
  }

  .projects-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .project-section {
    width: 45%;
    margin: auto;
  }

  .project-subheading {
    font-size: 22px;
  }

  .pizza {
    display: none;
  }

  .project-text p {
    height: 56px;
  }

  .other-pizza {
    display: block;
    align-self: center;
  }

  .other-pizza p {
    max-width: 60ch;
  }

  .skills-wrapper {
    width: 100%;
  }

  .skills-div {
    width: 22%;
    max-width: 190px; 
  }
}

@media(min-width:1024px) {
  h4, 
  p, 
  li, 
  .icons-bottom p, 
  footer p {
    font-size: 18px;
  }

  .project labels span {
    font-size: 18px;
  }

  .hero-section {
    height: 70vh;
  }

  .profilepic {
    width: 210px;
  }

  .summary-content {
    max-width: 796px;
  }

  .summary-text,
  .tech-text {
    max-width: 60ch;
  }

  .summary-figures {
    left: 40px;
  }

  .skills-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 100%;
  }

  li {
    font-weight: 400;
  }
}

@media(min-width:1400px) {
  .summary-section {
    padding: 140px 120px 120px 120px;
  }

  .summary-content {
    max-width: 794px;
  }

  .summary-figures {
    left: 0;
  }

  .featured-projects {
    padding: 120px 120px 120px 120px;
  }

  .tech-section,
  .other-projects,
  .my-thoughts,
  .skills,
  .for-more,
  footer {
    padding: 120px;
  }
  
  h3,
  .other-heading,
  .footer-heading {
    font-size: 26px;
    margin: 0 auto 60px auto;
  }

  .header-text {
    padding: 220px 80px 0 80px
  }

  .icons-top-wrapper {
    top: 120px;
    right: 80px;
  }

  .icon-top {
    width: 70px;
    height: 70px;
    margin-left: 30px;
  }

  .header-icon {
    width: 36px;
    height: 36px;
    top: 17px;
    left: 17px;
  }

  .profilepic {
    width: 280px;
    bottom: -50px;
    right: 80px;
  }

  h4, 
  p, 
  li, 
  .icons-bottom p, 
  footer p {
    font-size: 20px;
  }

  .project labels span {
    font-size: 20px;
  }
}